.filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}

.button-class {
  height: 40px;
  font-size: 16px;
  width: 160px;
  margin: 0px 5px;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin-left: 30px;
}

.pcatitle {
  font-size: 2em;
  font-weight: bold;
}
