.container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.button-row {
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    font-size: 30px;
}

.button-class {
  height: 350px;
  font-size: 30px;
}
