<div class="container">
  <div class="button-row" *ngIf="!(subrowObservable | async)">
    <button mat-mini-fab class="top-button" (click)="openSubRow()">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
  <div class="button-row" *ngIf="(subrowObservable | async)">
    <button mat-mini-fab class="top-button" (click)="closeSubRow()">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
  </div>
  <div class="card-row" *ngIf="(subrowObservable | async)">
    <div class="card">
      <button mat-raised-button (click)="onClickPath('/gensat')">GENERATIONS / SATISFACTION</button>
    </div>
    <div class="card">
      <button mat-raised-button (click)="onClickPath('/loadtime')">LOADING TIME</button>
    </div>
    <div class="card">
      <mat-form-field class="formField">
        <mat-label>Select screen resolution</mat-label>
        <mat-select [formControl]="optionControl">
          @for (option of options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="onClickPath('/setup')">SETUP</button>
    </div>
  </div>
</div>

<router-outlet />
