.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #021526;
}

.main-row {
    padding: 3px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #e8e9eb;
    display: flex;
    align-items: center;
}

.title-row {
    margin: 3px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.right-container {
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scatterplots-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.graph-container:hover {
    background-color: #03346E;
    cursor: pointer;
}

.graph-container-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6EACDA;
    border-radius: 20px;
}

.title-container {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #E2DFD0;
}

.title-boxplot {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.delete-button {
    width: 30px;
    height: 30px;
}
