<div class="container">
    <div class="main-row">
        <div class="scatterplots-container">
            <div class="graph-container">
                <div class="title-container">ALL MODELS</div>
                <figure id="tokens0"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[1]}}</div>
                <figure id="tokens1"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[2]}}</div>
                <figure id="tokens2"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[3]}}</div>
                <figure id="tokens3"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[4]}}</div>
                <figure id="tokens4"></figure>
            </div>
        </div>
        <div class="boxplot-container"></div>
    </div>
    <div class="main-row">
        <div class="scatterplots-container">
            <div class="graph-container">
                <div class="title-container">ALL MODELS</div>
                <figure id="wli0"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[1]}}</div>
                <figure id="wli1"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[2]}}</div>
                <figure id="wli2"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[3]}}</div>
                <figure id="wli3"></figure>
            </div>
            <div class="graph-container">
                <div class="title-container">{{models[4]}}</div>
                <figure id="wli4"></figure>
            </div>
            
        </div>
        <div class="boxplot-container"></div>
    </div> 
</div>