<div class="container">
  <div class="graph-row">
    <div class="graph-container">
      <div class="title-container">{{titleArray[0]}}</div>
      <figure id="scatter0"></figure>
    </div>
    <div class="graph-container">
      <div class="title-container">{{titleArray[1]}}</div>
      <figure id="scatter1"></figure>
    </div>
    <div class="graph-container">
      <div class="title-container">{{titleArray[2]}}</div>
      <figure id="scatter2"></figure>
    </div>
  </div>
  <div class="graph-row">
    <div class="graph-container">
      <div class="title-container">{{titleArray[3]}}</div>
      <figure id="scatter3"></figure>
    </div>
    <div class="graph-container">
      <div class="title-container">{{titleArray[4]}}</div>
      <figure id="scatter4"></figure>
    </div>
    <div class="graph-container">
      <div class="title-container">{{titleArray[5]}}</div>
      <figure id="scatter5"></figure>
    </div>
  </div>
  <div class="graph-row">
    <div class="graph-container">
      <div class="title-container">{{titleArray[6]}}</div>
      <figure id="scatter6"></figure>
    </div>
  </div>
</div>
